<main>
  <section class="user-details-container">
      <article class="posts-container">
        <h3>
          Post: #
          <%= @post.id %> by <%= @post.author.name %>
        </h3>
        <div class="comments-likes">
          <p>Comments: <%= @post.comments_counter %></p>
          <p>Likes: <%= @post.likes_counter %></p>
        </div>
        <p>
          <%= @post.text %>
        </p>
      </article>
      <div class='buttons'>
        <button class='create-comment-btn'>
          <%= link_to 'Add New Comment', new_user_post_comment_path(@user, @post)%>
        </button>

        <div>
          <%= form_with model: Like, url: user_post_likes_path(@post.author, @post) do |form| %>
            <%= form.submit 'Like Post', class: 'like-btn' %>
          <% end %>
        </div>
      </div>
      <article class="comments-section-container">
        <% if @post.recent_comments.blank? %>
          <h4>No comments! Please add a comments.</h4>
        <% else %>
          <% @post.comments.each do |comment| %>
            <div class="comments-section">
              <p><%= comment.author.name %></p>
              <p><%= comment.text %></p>
            </div>
          <% end %>
        <% end %>
      </article>
  </section>
</main>